@model FashionStore.Models.Banners
@section Styles {
    <link rel="stylesheet" href="~/Areas/Admin/Content/Banners/Create.css" />
}

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewBag.PageTitle = "Thêm Banner";
}

@section breadcrumb {
    <li class="breadcrumb-item">
        <a href="@Url.Action("Index")">Banners</a>
    </li>
    <li class="breadcrumb-item active">Thêm mới</li>
}

<div class="card p-4 shadow-sm">
    @using (Html.BeginForm("Create", "Banners", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

    <div class="mb-3">
        <label>Ảnh Banner*</label>

        <div id="dropZone" class="dropzone" onclick="document.getElementById('ImageFile').click()">
            <p>Kéo thả ảnh vào đây hoặc bấm để chọn ảnh</p>
        </div>

        <input type="file" id="ImageFile" name="ImageFile"
               class="d-none"
               accept="image/*" required />

        <small id="fileName" class="text-success fw-bold"></small>
        <img id="previewImage" />

    </div>




        <div class="mb-3">
            <label>Thứ tự hiển thị</label>
            @Html.TextBoxFor(m => m.OrderNo, new { @class = "form-control" })
        </div>

        <div class="mb-3 form-check">
            <!-- hidden để khi checkbox không tick thì vẫn post false -->
            <input type="hidden" name="IsActive" value="false" />

            <input type="checkbox"
                   name="IsActive"
                   class="form-check-input"
                   value="true"
                   @(Model != null && Model.IsActive == true ? "checked=\"checked\"" : "") />

            <label class="form-check-label">Kích hoạt</label>
        </div>



        <button class="btn btn-success">Lưu</button>
        <a href="@Url.Action("Index")" class="btn btn-secondary">Trở lại</a>
    }
</div>

@section Scripts {
    <script src="~/Areas/Admin/Scripts/dragdrop-file.js"></script>
}



