@model IEnumerable<FashionStore.Models.Banners>
@{
    ViewBag.Title = "Banners";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewBag.PageTitle = "Quản lý Banner";
}

@section breadcrumb {
    <li class="breadcrumb-item active">Banners</li>
}

<div class="card p-3 shadow-sm">
    <div class="d-flex justify-content-between mb-3">
        <h5>Danh sách Banner</h5>
        <a href="@Url.Action("Create")" class="btn btn-primary btn-sm">
            <i class="fa fa-plus"></i> Thêm mới
        </a>
    </div>

    <table class="table table-hover table-bordered bg-white">
        <thead class="table-primary">
            <tr>
                <th>Ảnh</th>
                <th>Thứ tự</th>
                <th>Kích hoạt</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@item.ImageUrl" style="width:120px;border-radius:6px;" />
                    </td>
                    <td>@item.OrderNo</td>
                    <td>
                        @if (item.IsActive == true)
                        {
                            <span class="badge bg-success">Hiển thị</span>
                        }
                        else
                        {
                            <span class="badge bg-secondary">Ẩn</span>
                        }

                    </td>
                    <td>
                        <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-warning btn-sm">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a onclick="return confirm('Xóa banner này?')"
                           href="@Url.Action("Delete", new { id = item.Id })"
                           class="btn btn-danger btn-sm">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

